# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      #max-parallel: 1
      matrix:
        python-version: ["3.10", "3.14"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        python -m pip install .[dev,api]
    - name: Ruff
      run: |
        ruff check .
        ruff format . --check
    - name: Mypy
      run: |
        mypy --install-types --non-interactive .
    - name: Pytest
      id: pytest
      continue-on-error: true
      run: |
        pytest -v
    - name: Pytest re-run failures
      if: steps.pytest.outcome == 'failure'
      run: |
        pytest -v --lf
